v1.8.1 windows error

Windows, v1.8.1. Android Studio Otter 3 Feature Drop | 2025.2.3
terminal command stopped working (I used it previously and it was ok):  ./caupain

0:00:00[WARN] (io.ktor.client.plugins.HttpCache): Vary header mismatch on cached response for https://repo.maven.apache.org/maven2/com/squareup/retrofit2/converter-kotlinx-serialization/maven-metadata.xml. Received 304 Not Modified with Vary: {} but cached response has Vary: {accept-encoding=}. According to RFC 7232 §4.1 and RFC 9111 §4.1, the server must include the full Vary header in 304 responses. Falling back to missing cache logic. Consider reporting this issue to the server maintainers.[WARN] (io.ktor.client.plugins.HttpCache): Vary header mismatch on cached response for https://repo.maven.apache.org/maven2/io/mockk/mockk/maven-metadata.xml. Received 304 Not Modified with Vary: {} but cached response has Vary: {accept-encoding=}. According to RFC 7232 §4.1 and RFC 9111 §4.1, the server must include the full Vary header in 304 responses. Falling back to missing cache logic. Consider reporting this issue to the server maintainers.

I had this warning too, however this seems to only be a warning and should not be an issue when updating. Are the updates not being returned, and if so could you provide a reproduction example ?

@alexmirash do you still have the issue with the latest version ? Otherwise I'll close this.